# Deployment Environment:
NODE_ENV=development

# Next Auth config:
# Generate a secret with `openssl rand -base64 32`, or visit https://generate-secret.vercel.app/
NEXTAUTH_SECRET=changeme
NEXTAUTH_URL=http://localhost:3000

# Prisma
DATABASE_URL=file:./db.sqlite

# External APIs:
OPENAI_API_KEY=changeme

# SQL fine-tune max times
LLM_SQL_TUNING_MAX_TIMES=3
SQL_COMPLEXITY_LEVEL_THRESHOLD=3

# Snowflake account info
SNOWFLAKE_ACCOUNT=changeme
SNOWFLAKE_USERNAME=changeme
SNOWFLAKE_PASSWORD=changeme
SNOWFLAKE_REGION=changeme
SNOWFLAKE_WAREHOUSE=changeme
SNOWFLAKE_DATABASE=changeme
SNOWFLAKE_SCHEMA=changeme
